

:root{
    --primary-color: #2b3b67; 
    --secondary-color: white;
    --other-color:#ebebf1;
    --bg-main:#e6a210;
    --text-primary:#f3f5fa;
    --text-secondary:#090d12;
    --suplement-color:#1ea344;

    --font-family:"Poppins", sans-serif, Arial, Helvetica, sans-serif;
}


.admin-body-container{
  width: 98%;
  height: 89vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  /* box-shadow: 0 0 5px gray; */
  color: var(--primary-color);
  overflow: auto;
  /* background-color: aqua; */
}

.Body-container{
  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;
  /* margin-left: 30px;
  margin-top: 20px; */
  /* background-color: yellow; */
}

  .Admin-activities{
    width: 60%;
    height: auto;
    /* background-color: whitesmoke; */
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px gray;

  }


  .Admin-activities h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }


  .Admin-activities hr{
    border: 0.1px solid gray;
  }

  .Admin-actions h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .Admin-actions{
    width: 38%;
    height: auto;
    /* background-color: whitesmoke; */
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px gray;
  }


  


  .Admin-btn001 button{
    width: 100%;
    height: 60px;
    background-color:var(--bg-main);
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
  }

  .Admin-buttons button{
    width: 100%;
    height: 60px;
    background-color: var(--suplement-color);
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
  }

  
  .Admin-btn002 button{
    width: 100%;
    height: 60px;
    background-color:var(--primary-color);
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
  }


  @media screen and (max-width: 914px) {
    .admin-overview{
      width: 100%;
    }

    .Body-container{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
      /* margin-left: 30px;
      margin-top: 20px; */
      /* background-color: yellow; */
    }


    .Admin-activities{
      width: 100%;
      height: auto;
      /* background-color: whitesmoke; */
      /* border: 1px solid black; */
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 0 5px gray;

  }


  .Admin-actions{
    width: 100%;
    height: auto;
    /* background-color: whitesmoke; */
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px gray;
  }

    
    
  }

  