
:root{
    --primary-color: #2b3b67; 
    --secondary-color: white;
    --other-color:#ebebf1;
    --bg-main:#000080;
    --text-primary:#f3f5fa;
    --text-secondary:#090d12;
    --suplement-color:#1ea344;

    --font-family:"Poppins", sans-serif, Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: var(--font-family);
}
.Kyu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.KyuLogo{
    height: 140px;
    width: 150px;
    text-align: center;
}

.forgot-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--other-color);
    display: grid;
    place-items: center;
}
.forgot-inputs{
    width: 100%;
    height: auto;
}


.forgot-content{
    width: 30%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}
.forgot-content h1{
   color: var(--primary-color);
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}




/* .forgot-data input{
    width: 100%;
    height: 30px;
    border:1px var(--other-color) solid;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 20px;
} */
.forgot-data{
    display: flex;
    flex-direction: column;
}
.forgot-data label{
    color: rgb(29, 28, 28);
    color: var(--primary-color);
}
.forgot-btn button{
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1em;
    border-radius: 5px;
    margin-bottom: 20px;
}

.forgot-inputs p{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--primary-color);
    text-align: center;
}

.forgot-inputs p a{
    color: var(--suplement-color);
    font-size: 1em;
    text-decoration: underline;
    font-weight: 600;
}

.input-wrapper{
    position: relative;
    width: 100%;
    border: 1px var(--other-color) solid;
    margin-bottom: 20px;
    border-radius: 5px;
}
.input-wrapper input{
    width: 100%;
    height: 40px;
    border: 1px var(--other-color) solid;
    padding-left: 40px;
    font-size: 15px;
}
.input-wrapper i{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--primary-color);

}


@media screen and (max-width:1024px) {
   .forgot-content{
        width: 50%;
        height: auto;
        padding: 20px;
        border-radius: 8px;
        background-color: white;
    } 
}


@media screen and (max-width:768px) {
    .forgot-content{
        width: 90%;
        height: auto;
        padding: 20px;
        border-radius: 8px;
        background-color: white;
    } 

    .KyuLogo{
        height: 90px;
        width: 100px;
        text-align: center;
    }
}