
:root{
    --primary-color: #2b3b67; 
    --secondary-color: white;
    --other-color:#ebebf1;
    --bg-main:#000080;
    --text-primary:#f3f5fa;
    --text-secondary:#090d12;
    --suplement-color:#1ea344;

    --font-family:"Poppins", sans-serif, Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: var(--font-family);
}
.Kyu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--other-color);
    display: grid;
    place-items: center;
}
.reset-content{
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.reset-inputs{
    display: flex;
    flex-direction: column;
}
/* .reset-inputs input{
    width: 100%;
    height: 30px;
    border: 1px var(--other-color)  solid;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 15PX;
    padding-left: 10px;
    outline: none;
} */
.reset-inputs label{
    font-size: 1em;
    color:  var(--primary-color);
}

 
.reset-wrapper{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border: 1px var(--other-color) solid;
    border-radius: 5px;

}
.reset-wrapper input{
    width: 100%;
    height: 40px;
    border: 1px var(--other-color) solid;
    padding-left: 40px;
    font-size: 1em;
    border-radius: 5px;
}

.reset-wrapper input:focus{
    outline: 2px solid var(--primary-color);
    border-radius: 5px;
}
.reset-wrapper i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
}

.reset-content button{
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.reset-content p {
    color: var(--primary-color);
    font-size: 20px;
    text-align: center;
}

.reset-content p a{
    color: var(--suplement-color);
    font-weight: 500;
    font-size: 20px;
}
